.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin-top: 60px;
  text-align: center;
}

#roadTolife {
  background-color: #eeeeee;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 60px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  line-height: 200%;
  text-align: center;
}

.resume {
  background-color: #eeeeee;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 60px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  line-height: 100%;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.aboutMe {
  background-color: #eeeeee;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 60px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  line-height: 200%;
}

#menu {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;

}

#menu a {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  color: #58595b;
  text-decoration: none;
  font-family: Helvetica, Arial, Sans-Serif;

}
#clickButton {
  width: 250px;
  height: 60px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #243560;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#clickButton2 {
  margin-top: 25px;
}
#clickButton1 img, #clickButton2 img {
  width: 150px;
  height: auto;
}

#imgFiles{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}


.QR{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  text-align: center;
  position: relative;
}


/* Dark Mode CSS */

body.dark-mode {
    background-color: #1f1f1f;
    color: #ffffff;
}

.dark-mode .aboutMe {
    background-color: #363636;
    border-color: #ffffff;
}

.dark-mode .login_form {
    color: #ffffff;
}

.dark-mode .login_input {
    background-color: #363636;
    color: #ffffff;
    border-color: #ffffff;
}

.dark-mode .login_btn {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode #menu a {
    color: #ffffff;
}

.dark-mode #clickButton img {
    filter: invert(1);
}
.BackgroundMode{
  width: 100px;
  height: 40px;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  background-color: #ff0a6c;
  color: white;
  border-radius: 20px;
  border: none;
}